{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 * @see claro_preprocess_input()
 */
#}
{% if autocomplete_message %}
  <div class="claro-autocomplete">
    <input{{ attributes }}/>
    <div hidden class="claro-autocomplete__message">{{autocomplete_message}}</div>
  </div>
  {{ children }}
{% else %}
  <input{{ glp_classes(attributes) }}/>{{ children }}
  <span class="glp-checkbox-toggle">
    <span class="glp-checkbox-toggle__inner"></span>
  </span>
{% endif %}
