{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
<div{{ glp_classes(wrapper_attributes.addClass('form-textarea-wrapper')) }}>
  <textarea{{ glp_classes(attributes.addClass('form-element')) }}>{{ value }}</textarea>
</div>
