.glp-canvas-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  flex: 1;
  position: relative;

  &__settings {
    flex-grow: 1;
    overflow: auto;
    padding-left: 20px;
    padding-right: 21px;
  }

  &__actions {
    position: relative;
    border-top: 1px solid var(--colorGinLayerBorder);
    background: var(--colorGinAppBackground);
    flex-grow: 0;
    padding-left: 20px;
  }
}
