$maxWidth: 520px;

.glp-form
{
    font-family: Inter, -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.glp-form-element.glp-error
{
    border-width: 2px !important;
    border-color: #d72222 !important;
}

.glp-form-item
{
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}

.glp-form-radios .glp-form-type--radio
{
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.glp-form-item__label
{
    font-size: .889em !important;
    font-weight: bold !important;
    line-height: 1.125em !important;

    display: table !important;

    margin-top: .25em !important;
    margin-bottom: .25em !important;

    &.glp-option
    {
        font-weight: normal !important;

        display: inline !important;
    }

    .glp-form-type--checkbox &
    {
        font-weight: normal !important;

        display: inline-block !important;
    }
}

.glp-form-element
{
    font-size: 1em !important;
    line-height: 1.5em !important;

    box-sizing: border-box !important;
    width: 100%;
    max-width: 100% !important;
    padding: calc(.75em - 1px) calc(1em - 1px) !important;

    color: var(--colorGinText) !important;
    border: 1px solid var(--colorGinFormElementBorder) !important;
    border-radius: $borderDefault !important;
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25) !important;

    appearance: none !important;

    &:hover
    {
        border-color: var(--colorGinText) !important;
        box-shadow: inset 0 0 0 1px var(--colorGinText) !important;
    }

    &:focus,
    &:hover:focus
    {
        box-shadow: inset 0 0 0 1px var(--colorGinText), 0 0 0 2px var(--colorGinLayerBackground), 0 0 0 4px var(--colorGinFocus) !important;
    }

    .gin--dark-mode &
    {
        background-color: var(--colorGinLayer2Background) !important;
    }
}

.glp-form-text
{
    width: 100% !important;
}

.glp-form-textarea-wrapper
{
    border-radius: $borderDefault !important;

    textarea
    {
        max-width: 100% !important;
    }
}

.glp-form-element--editor-format
{
    width: auto !important;

    .form-item__label
    {
        top: 3px !important;
    }
}

.glp-password-confirm
{
    width: 100% !important;
    max-width: $maxWidth !important;
}

.glp-password-strength
{
    &__title
    {
        color: var(--colorGinTextLight) !important;
    }

    &__text
    {
        color: var(--colorGinTitle) !important;
    }
}

.glp-password-suggestions
{
    color: var(--colorGinTextLight) !important;
    border: 1px solid var(--colorGinLayer2Border) !important;
    background-color: transparent !important;
}

.glp-form-element--type-select
{
    padding-right: calc(2.5em - 1px) !important;

    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 9\'%3e%3cpath fill=\'none\' stroke-width=\'1.5\' d=\'M1 1l6 6 6-6\' stroke=\'%23545560\'/%3e%3c/svg%3e') !important;
    background-repeat: no-repeat !important;
    background-position: 100% 50% !important;
    background-size: 2.75em .5625em !important;

    .gin--dark-mode &
    {
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 9\'%3E%3Cpath fill=\'none\' stroke-width=\'1.5\' d=\'M1 1L7 7L13 1\' stroke=\'%23ffffff\'/%3E%3C/svg%3E%0A') !important;
    }
}

.glp-form-element--type-select--small
{
    font-size: .79em !important;
    line-height: 1 !important;

    min-height: 2.25em !important;

    background-position: 100% 52% !important;
}

.glp-form-boolean
{
    width: 21px !important;
    height: 21px !important;

    border-color: var(--colorGinFormElementBorder) !important;
    border-radius: $borderSmall !important;
}

// Darkmode Checkbox
.glp-form-boolean--type-checkbox
{
    &:not(:checked)
    {
        .gin--dark-mode &
        {
            background: var(--colorGinLayer2Background);
        }
    }

    &:checked
    {
        .gin--dark-mode &
        {
            background-image: icon('checked') !important;

            $iconColor: 1 B1B1D !important;
        }
    }
}


// Single Checkbox: show as toggle
:not(.glp-form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .glp-form-type--checkbox
{
    position: relative !important;

    margin-left: 0 !important;

    .glp-checkbox-toggle
    {
        z-index: 0 !important;

        display: inline-block !important;

        box-sizing: border-box !important;
        width: 40px !important;
        height: 24px !important;

        vertical-align: top !important;

        border-radius: 12px !important;
        background-color: #909090 !important;

        &__inner
        {
            position: relative !important;

            display: block !important;
            overflow: hidden !important;

            box-sizing: border-box !important;
            width: 100% !important;
            height: 100% !important;

            border: 4px solid transparent !important;
            border-radius: 12px !important;

            clip-path: circle(24px at 50% 50%) !important;

            &:before
            {
                position: absolute !important;

                width: 100% !important;
                height: 100% !important;

                content: '' !important;
                transition: transform .3s !important;
                transform: translateX(-16px) !important;

                border-radius: 21px !important;
                background-color: #fff !important;

                .gin--dark-mode &
                {
                    background-color: var(--colorGinLayer2Background) !important;
                }
            }
        }
    }

    input
    {
        z-index: 1 !important;

        clip: auto !important;

        width: 40px !important;
        height: 24px !important;
        margin-left: 0 !important;

        cursor: pointer !important;

        opacity: 0 !important;

        @include visually-hidden;

        &:hover,
        &:focus,
        &:active,
        &:hover:focus,
        &:active:focus
        {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }

        &:hover ~ .checkbox-toggle
        {
            opacity: .9 !important;
            box-shadow: 0 0 2px rgba(0, 0, 0, .2) !important;
        }

        &:checked ~ .glp-checkbox-toggle .glp-checkbox-toggle__inner
        {
            background-color: var(--colorGinSwitch) !important;

            &:before
            {
                transform: translateX(16px) !important;
            }
        }

        &:active ~ .glp-checkbox-toggle .glp-checkbox-toggle__inner,
        &:focus ~ .glp-checkbox-toggle .glp-checkbox-toggle__inner
        {
            box-shadow: 0 0 0 2px var(--colorGinLayerBackground), 0 0 0 4px var(--colorGinFocus) !important;
        }

        // Disabled state: set cursor to not-allowed
        &:disabled
        {
            cursor: not-allowed !important;
        }

        // Disabled styles
        &:disabled ~ .glp-checkbox-toggle,
        &:disabled ~ .glp-checkbox-toggle:hover,
        &:disabled:checked ~ .glp-checkbox-toggle .glp-checkbox-toggle__inner,
        &:disabled:checked ~ .glp-checkbox-toggle:hover .glp-checkbox-toggle__inner
        {
            background-color: var(--colorGinDisabled) !important;
        }
    }

    label
    {
        position: relative !important;
        z-index: 1 !important;

        padding-bottom: 0 !important;
        padding-left: 4px !important;

        color: var(--colorGinText) !important;
    }
}

.glp-form-boolean
{
    &:hover,
    &:active
    {
        .gin--dark-mode &
        {
            border-color: var(--colorGinText) !important;
            box-shadow: none !important;
        }
    }
}

.glp-form-boolean--type-radio
{
    &,
    &:hover,
    &:active,
    &:focus,
    &:hover:focus
    {
        border-color: var(--colorGinFormElementBorder) !important;
        border-radius: 50% !important;
        background-color: #fff !important;
        background-image: none !important;

        .gin--dark-mode &
        {
            background-color: var(--colorGinLayer2Background) !important;
        }
    }

    &:hover
    {
        box-shadow: inset 0 0 0 1px var(--colorGinLayer2Border) !important;

        &,
        .gin--dark-mode &
        {
            border-color: var(--colorGinText) !important;
        }
    }

    &:checked
    {
        &,
        &:hover,
        &:active,
        &:focus,
        &:hover:focus
        {
            background-color: #fff !important;
            background-image: none !important;
            box-shadow: inset 0 0 0 4px var(--colorGinPrimary) !important;

            .gin--dark-mode &
            {
                border-color: var(--colorGinPrimary) !important;
                background-color: var(--colorGinLayer2Background) !important;
            }
        }
    }
}

.glp-form-radios,
.glp-form-checkboxes
{
    .glp-form-type--boolean
    {
        margin-top: .5em !important;
        margin-bottom: .5em !important;
    }
}

.form-edit .form-actions
{
    margin-bottom: 0;
    padding: 0;

    border: 0 none;
    background-color: transparent;
}

.glp-fieldset__legend {
  font-weight: bold;
}

.glp-fieldset__legend--composite {
  float: none;
  width: auto;
  margin-top: 0;
  margin-bottom: 0.25rem;
  color: inherit;
  font-size: 0.889rem;
  line-height: 1.125rem;
}

// Fieldgroup
fieldset:not(.fieldgroup)
{
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;

    border: 1px;
    border-color: var(--colorGinBorder);
    border-radius: $borderDefault;
    background: transparent;
    box-shadow: none;

     > legend
    {
        font-size: 1em !important;
        font-weight: bold;

        top: 20px;
    }

     > .fieldset-wrapper
    {
        margin-top: 20px;
    }
}

.glp-fieldset__label,
.glp-fieldset__label--group,
.glp-form-item__label
{
    color: var(--colorGinText) !important;
}

.glp-form-item__label.has-error,
.glp-form-item__error-message
{
    color: var(--colorGinDanger) !important;
}

.glp-form-item__description,
.glp-fieldset__description
{
    font-size: .79em;
    line-height: 1.0625em;

    max-width: $maxWidth !important;
    margin-top: .375em;
    margin-bottom: .375em;

    color: var(--colorGinTextLight) !important;
}

.glp-form-item__label.glp-form-required::after,
.glp-fieldset__label.glp-form-required::after
{
    content: '*' !important;
    vertical-align: text-top !important;

    color: var(--colorGinDanger) !important;
    background: none !important;
}

.glp-form-item__warning
{
    display: inline-block !important;

    margin-top: .5em !important;
}


.js .glp-form-autocomplete
{
    padding-right: 36px !important;
}


#drupal-off-canvas .ui-autocomplete .ui-menu-item-wrapper {
  display: block;
  padding: 0.75rem 0.9375rem;
  background: inherit;
  color: var(--colorGinPrimary) !important;
  &:hover {
    color: white !important;
    background: var(--colorGinPrimary) !important;
  }

}

.glp-entity-form-display-form
{
     > .form-actions
    {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.required-mark
{
    &::after
    {
        background: var(--colorGinDanger) !important;

        mask-image: icon('asterisk') !important;
        mask-position: center center !important;
        mask-size: 100% 100% !important;
    }
}
.glp-form-wrapper
{
    input[type='file']
    {
        min-height: 48px !important;
    }
}
.glp-form-wrapper,
.glp-form-composite
{
    label
    {
        position: relative;

        padding-bottom: 4px;

        color: var(--colorGinText);
    }
}

.field-multiple-table {
  .glp-claro-details {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 1px solid var(--colorGinBorder) !important;
    border-radius: 8px !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  .glp-claro-details__summary {
    background: transparent !important;
  }
}



.glp-field--type-text-with-summary,
.glp-field--widget-text-textarea
{
    .form-item
    {
        margin-bottom: 0 !important;
    }

    .filter-wrapper
    {
        padding-right: 0 !important;
        padding-left: 0 !important;

        border: 0 none !important;
    }
}

// Autocomplete field
.js input.form-linkit-autocomplete
{
    padding-right: 2em;

    background-position: right 8px center;
}

.glp-responsive-enabled
{
    input[type=text]
    {
        width: 100%;
    }

    td
    {
        vertical-align: center;
    }
}

.glp-form-no-label > label
{
    display: none !important;
}

.glp-form-checkbox
{
    display: inline-block !important;

    box-sizing: border-box !important;
    width: 21px !important;
    height: 21px !important;

    vertical-align: text-bottom !important;

    border: 1px solid #8e929c !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    background-image: url('data:image/svg+xml,%3csvg width=\'16\' height=\'16\' xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath d=\'M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z\' fill=\'%23fff\'/%3e%3c/svg%3e') !important;
    background-size: 100% 100% !important;
    box-shadow: 0 0 0 4px transparent !important;

    appearance: none !important;

    &:checked
    {
        background-color: var(--colorGinPrimary) !important;

        &:hover
        {
            border-color: #222330 !important;
            background-color: var(--colorGinPrimaryHover) !important;
        }
    }

    &:focus
    {
        box-shadow: 0 0 0 2px var(--colorGinLayerBackground),0 0 0 4px var(--colorGinFocus) !important;
    }
}

.glp-form-item-preview-regions
{
    margin-right: 20px;
}
