.glp-messages-list {
  display: none;
}

.glp-form .glp-messages-list {
  display: block;
}

.glp-messages {
  padding: 1em !important;
  border: 2px solid transparent !important;
  border-radius: $borderMedium !important;
  box-shadow: 10px 10px 30px #c1c1d2,
              -6px -6px 16px scale-color($colorAppBackgroundShadow, $lightness: -2%) !important;

  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .gin--dark-mode & {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05) !important;
  }

  &, &-list {
    margin: 20px auto !important;
    max-width: 960px !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    &,
    &:hover,
    &:active {
      color: #fff !important;
    }
  }

  &__title {
    font-weight: 600 !important;
  }

  &__title,
  &__content {
    margin-left: 2.125em !important;
  }

  .glp-messages__header {
    position: relative !important;
    background-image: none !important;
    margin-bottom: .5em !important;

    &:before {
      content: "" !important;
      display: block !important;
      position: absolute !important;
      top: 2px !important;
      left: 0 !important;
      width: 24px !important;
      height: 24px !important;
    }
  }

  &.glp-messages--info {
    color: var(--colorGinInfoLight) !important;
    background-color: var(--colorGinInfoBackground) !important;
    border-color: var(--colorGinInfoBackground) !important;

    .glp-messages__header {
      background: none !important;

      &:before {
        background-color: var(--colorGinInfoLight) !important;
        mask-image: icon('info') !important;
        mask-repeat: no-repeat !important;
        mask-position: center left !important;
      }
    }
  }

  &.glp-messages--status {
    color: var(--colorGinGreenLight) !important;
    background-color: var(--colorGinGreenBackground) !important;

    .glp-messages__header {
      &:before {
        background-color: var(--colorGinGreenLight) !important;
        mask-image: icon('status');
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &.glp-messages--warning {
    color: var(--colorGinWarningLight);
    background-color: var(--colorGinWarningBackground) !important;

    .glp-messages__header {
      &:before {
        background-color: var(--colorGinWarningLight) !important;
        mask-image: icon('warning') !important;
        mask-repeat: no-repeat !important;
        mask-position: center left !important;
      }
    }
  }

  &--error {
    div {
      color: var(--colorGinDangerLight) !important;
    }
    color: var(--colorGinDangerLight) !important;
    background-color: var(--colorGinDangerBackground) !important;

    .glp-messages__header {
      &:before {
        background-color: var(--colorGinDangerLight) !important;
        mask-image: icon('error') !important;
        mask-repeat: no-repeat !important;
        mask-position: center left !important;
      }
    }
  }
}
