// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.

// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

.glp-visually-hidden {
  @include visually-hidden();
}

div[data-off-canvas-main-canvas] {
  padding-right: 0 !important;
}

// Components
@import "components/details";
@import "components/table";
@import "components/button";
@import "components/toolbar";
@import "components/colorwidget";
@import "components/messages";
@import "components/preview-regions";
@import "components/ckeditor";
@import "components/layout-builder";
@import "components/vertical-tabs";
@import "components/contextual";
@import "components/tabs";
@import "components/throbber";
@import "components/media-library";
@import "components/views";
@import "components/ui-dialog";
@import "components/list";
@import "components/grid";
@import "components/layout-selection";
@import "components/form";
@import "components/canvas-form";
@import "components/pager";
.dev {}
